<section id="wl-features">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 wl-features-container">
                <div class="wl-features-wrapper -green">
                    <div class="wl-feature">
                        <div class="wl-feature-img">
                            <img src="static/img/wl-feature-send-video.png" alt="Ícone de envio de vídeos">
                        </div>
                        <a href="project/wikilibras/newtask" class="btn btn-info wl-btn wl-feature-btn">
                            enviar
                            video
                        </a>
                        <div class="wl-feature-description">
                            <span>Grave seu sinal e envie para nossa comunidade.</span>
                        </div>
                    </div>
                    <div class="wl-ellipse-wrapper">
                        <span>ou</span>
                    </div>
                </div>
                <div class="wl-features-wrapper -yellow">
                    <div class="wl-feature">
                        <div class="wl-feature-img">
                            <img src="static/img/wl-feature-create-sign.png" alt="Ícone de criação de sinais">
                        </div>
                        <a href="project/wikilibras/newtask" class="btn btn-info wl-btn wl-feature-btn">
                            criar
                            sinal
                        </a>
                        <div class="wl-feature-description">
                            <span> Ensine Ícaro, o nosso avatar, a fazer um sinal.
                            </span>
                        </div>
                    </div>
                    <div class="wl-ellipse-wrapper">
                        ou
                    </div>
                </div>
                <div class="wl-features-wrapper -blue">
                    <div class="wl-feature">
                        <div class="wl-feature-img">
                            <img src="static/img/wl-feature-fix-sign.png" alt="Ícone de correção de sinais">
                        </div>
                        <a href="project/corretor_sinais/newtask" class="btn btn-info wl-btn wl-feature-btn">
                            corrigir
                            sinal
                        </a>
                        <div class="wl-feature-description">
                            <span>O sinal está incorreto? Colabore corrigindo-o.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>