    <div class="header container-fluid">
        
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <h3><a class="navbar-brand" href="http://pybossa.com">PyBossa</a></h3>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        Menu
                        </button>      
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://pybossa.com/usecases/">Use cases</a></li>
                        <li><a href="http://pybossa.com/features/">Features</a></li>
                        <li><a href="http://pybossa.com/getinspired/">Get inspired</a></li>
                        <li class="active"><a href="http://docs.pybossa.com">Docs</a></li>
                        <li><a href="http://pybossa.com/contact/">Contact</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
