<div class="selection-panel-body" mainconfig="{{ hand }}" subconfig="configuracao-retilineo" step="1">
  <div class="panel-header">
    <h8><span class="rectilinear-point-label">Ponto inicial (A):</span> escolha a posição inicial mais parecida dos dedos</h8>
  </div>
  <div class="selection-panel-inner-body">
    <ul class="rig columns-3">
      <li><img class="box-panel-option selection-panel-option"
        src="{{ server }}/img/{{ configuracao }}/0007.png" value="0" />
        0.</li>
      <li><img class="box-panel-option selection-panel-option"
        src="{{ server }}/img/{{ configuracao }}/0014.png" value="1" />
        1.</li>
      <li><img class="box-panel-option selection-panel-option"
        src="{{ server }}/img/{{ configuracao }}/0045.png" value="2" />
        2.</li>
      <li><img class="box-panel-option selection-panel-option"
        src="{{ server }}/img/{{ configuracao }}/0048.png" value="3" />
        3.</li>
      <li><img class="box-panel-option selection-panel-option"
        src="{{ server }}/img/{{ configuracao }}/0040.png" value="4" />
        4.</li>
      <li><img class="box-panel-option selection-panel-option"
        src="{{ server }}/img/{{ configuracao }}/0000.png" value="5" />
        5.</li>
    </ul>
  </div>
</div>
<script type="text/javascript">
  configuration.setupFingersGroup("{{ hand }}", "configuracao-retilineo", "1");
</script>
