<div class="selection-panel-body" mainConfig="{{ hand }}" subConfig="configuracao-retilineo" step="4">
  <div class="panel-header">
    <h8><span class="rectilinear-point-label">Ponto inicial (B):</span> escolha a posição final dos dedos</h8>
  </div>
  <div class="selection-panel-inner-body">
    <div class="finger-group" group="0">
      <ul class="rig columns-4">
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0001.png"
          value="1" /> 1.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0002.png"
          value="2" /> 2.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0007.png"
          value="7" /> 3.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0008.png"
          value="8" /> 4.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0009.png"
          value="9" /> 5.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0010.png"
          value="10" /> 6.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0011.png"
          value="11" /> 7.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0016.png"
          value="16" /> 8.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0017.png"
          value="17" /> 9.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0018.png"
          value="18" /> 10.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0019.png"
          value="19" /> 11.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0020.png"
          value="20" /> 12.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0021.png"
          value="21" /> 13.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0022.png"
          value="22" /> 14.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0023.png"
          value="23" /> 15.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0024.png"
          value="24" /> 16.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0058.png"
          value="58" /> 17.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0059.png"
          value="59" /> 18.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0060.png"
          value="60" /> 19.</li>
      </ul>
    </div>
    <div class="finger-group" group="1">
      <ul class="rig columns-4">
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0003.png"
          value="3" /> 1.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0005.png"
          value="5" /> 2.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0006.png"
          value="6" /> 3.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0012.png"
          value="12" /> 4.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0013.png"
          value="13" /> 5.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0014.png"
          value="14" /> 6.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0030.png"
          value="30" /> 7.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0052.png"
          value="52" /> 8.</li>
      </ul>
    </div>
    <div class="finger-group" group="2">
      <ul class="rig columns-4">
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0004.png"
          value="4" /> 1.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0015.png"
          value="15" /> 2.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0029.png"
          value="29" /> 3.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0031.png"
          value="31" /> 4.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0032.png"
          value="32" /> 5.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0035.png"
          value="35" /> 6.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0036.png"
          value="36" /> 7.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0045.png"
          value="45" /> 8.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0051.png"
          value="51" /> 9.</li>
      </ul>
    </div>
    <div class="finger-group" group="3">
      <ul class="rig columns-4">
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0033.png"
          value="33" /> 1.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0034.png"
          value="34" /> 2.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0037.png"
          value="37" /> 3.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0039.png"
          value="39" /> 4.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0043.png"
          value="43" /> 5.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0044.png"
          value="44" /> 6.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0046.png"
          value="46" /> 7.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0047.png"
          value="47" /> 8.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0048.png"
          value="48" /> 9.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0049.png"
          value="49" /> 10.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0050.png"
          value="50" /> 11.</li>
      </ul>
    </div>
    <div class="finger-group" group="4">
      <ul class="rig columns-4">
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0038.png"
          value="38" /> 1.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0040.png"
          value="40" /> 2.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0041.png"
          value="41" /> 3.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0042.png"
          value="42" /> 4.</li>
      </ul>
    </div>
    <div class="finger-group" group="5">
      <ul class="rig columns-4">
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0025.png"
          value="25" /> 1.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0026.png"
          value="26" /> 2.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0027.png"
          value="27" /> 3.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0028.png"
          value="28" /> 4.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0053.png"
          value="53" /> 5.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0054.png"
          value="54" /> 6.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0055.png"
          value="55" /> 7.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0056.png"
          value="56" /> 8.</li>
        <li><img class="box-panel-option selection-panel-option"
          src="{{ server }}/img/{{ configuracao }}/0057.png"
          value="57" /> 9.</li>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
  configuration.setupFingersPosition("{{ hand }}", "configuracao-retilineo", "4");
</script>
