<div class="selection-panel-body" mainConfig="{{ hand }}"
	subConfig="articulacao" step="1">
	<div class="panel-header">
		<h8>Onde é feito o sinal?</h8>
	</div>
	<div class="selection-panel-inner-body">
		<div data-x="" data-y=""
			class="module-x-y grid gray-background gray-front-avatar active">
			<div class=grid-selectors>
				<div class="grid-row row-number-1" data-y=1>
					<div class="ball-selector selection-panel-option ball-1" data-x=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-x=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-x=3></div>
					<div class="ball-selector selection-panel-option ball-4" data-x=4></div>
					<div class="ball-selector selection-panel-option ball-5" data-x=5></div>
					<div class="ball-selector selection-panel-option ball-6" data-x=6></div>
					<div class="ball-selector selection-panel-option ball-7" data-x=7></div>
					<div class="ball-selector selection-panel-option ball-8" data-x=8></div>
					<div class="ball-selector selection-panel-option ball-9" data-x=9></div>
					<div class="ball-selector selection-panel-option ball-10" data-x=10></div>
					<div class="ball-selector selection-panel-option ball-11" data-x=11></div>
					<div class="ball-selector selection-panel-option ball-12" data-x=12></div>
					<div class="ball-selector selection-panel-option ball-13" data-x=13></div>
					<div class="ball-selector selection-panel-option ball-14" data-x=14></div>
				</div>
				<div class="grid-row row-number-2" data-y=2>
					<div class="ball-selector selection-panel-option ball-1" data-x=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-x=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-x=3></div>
					<div class="ball-selector selection-panel-option ball-4" data-x=4></div>
					<div class="ball-selector selection-panel-option ball-5" data-x=5></div>
					<div class="ball-selector selection-panel-option ball-6" data-x=6></div>
					<div class="ball-selector selection-panel-option ball-7" data-x=7></div>
					<div class="ball-selector selection-panel-option ball-8" data-x=8></div>
					<div class="ball-selector selection-panel-option ball-9" data-x=9></div>
					<div class="ball-selector selection-panel-option ball-10" data-x=10></div>
					<div class="ball-selector selection-panel-option ball-11" data-x=11></div>
					<div class="ball-selector selection-panel-option ball-12" data-x=12></div>
					<div class="ball-selector selection-panel-option ball-13" data-x=13></div>
					<div class="ball-selector selection-panel-option ball-14" data-x=14></div>
				</div>
				<div class="grid-row row-number-3" data-y=3>
					<div class="ball-selector selection-panel-option ball-1" data-x=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-x=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-x=3></div>
					<div class="ball-selector selection-panel-option ball-4" data-x=4></div>
					<div class="ball-selector selection-panel-option ball-5" data-x=5></div>
					<div class="ball-selector selection-panel-option ball-6" data-x=6></div>
					<div class="ball-selector selection-panel-option ball-7" data-x=7></div>
					<div class="ball-selector selection-panel-option ball-8" data-x=8></div>
					<div class="ball-selector selection-panel-option ball-9" data-x=9></div>
					<div class="ball-selector selection-panel-option ball-10" data-x=10></div>
					<div class="ball-selector selection-panel-option ball-11" data-x=11></div>
					<div class="ball-selector selection-panel-option ball-12" data-x=12></div>
					<div class="ball-selector selection-panel-option ball-13" data-x=13></div>
					<div class="ball-selector selection-panel-option ball-14" data-x=14></div>
				</div>
				<div class="grid-row row-number-4" data-y=4>
					<div class="ball-selector selection-panel-option ball-1" data-x=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-x=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-x=3></div>
					<div class="ball-selector selection-panel-option ball-4" data-x=4></div>
					<div class="ball-selector selection-panel-option ball-5" data-x=5></div>
					<div class="ball-selector selection-panel-option ball-6" data-x=6></div>
					<div class="ball-selector selection-panel-option ball-7" data-x=7></div>
					<div class="ball-selector selection-panel-option ball-8" data-x=8></div>
					<div class="ball-selector selection-panel-option ball-9" data-x=9></div>
					<div class="ball-selector selection-panel-option ball-10" data-x=10></div>
					<div class="ball-selector selection-panel-option ball-11" data-x=11></div>
					<div class="ball-selector selection-panel-option ball-12" data-x=12></div>
					<div class="ball-selector selection-panel-option ball-13" data-x=13></div>
					<div class="ball-selector selection-panel-option ball-14" data-x=14></div>
				</div>
				<div class="grid-row row-number-5" data-y=5>
					<div class="ball-selector selection-panel-option ball-1" data-x=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-x=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-x=3></div>
					<div class="ball-selector selection-panel-option ball-4" data-x=4></div>
					<div class="ball-selector selection-panel-option ball-5" data-x=5></div>
					<div class="ball-selector selection-panel-option ball-6" data-x=6></div>
					<div class="ball-selector selection-panel-option ball-7" data-x=7></div>
					<div class="ball-selector selection-panel-option ball-8" data-x=8></div>
					<div class="ball-selector selection-panel-option ball-9" data-x=9></div>
					<div class="ball-selector selection-panel-option ball-10" data-x=10></div>
					<div class="ball-selector selection-panel-option ball-11" data-x=11></div>
					<div class="ball-selector selection-panel-option ball-12" data-x=12></div>
					<div class="ball-selector selection-panel-option ball-13" data-x=13></div>
					<div class="ball-selector selection-panel-option ball-14" data-x=14></div>
				</div>
				<div class="grid-row row-number-6" data-y=6>
					<div class="ball-selector selection-panel-option ball-1" data-x=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-x=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-x=3></div>
					<div class="ball-selector selection-panel-option ball-4" data-x=4></div>
					<div class="ball-selector selection-panel-option ball-5" data-x=5></div>
					<div class="ball-selector selection-panel-option ball-6" data-x=6></div>
					<div class="ball-selector selection-panel-option ball-7" data-x=7></div>
					<div class="ball-selector selection-panel-option ball-8" data-x=8></div>
					<div class="ball-selector selection-panel-option ball-9" data-x=9></div>
					<div class="ball-selector selection-panel-option ball-10" data-x=10></div>
					<div class="ball-selector selection-panel-option ball-11" data-x=11></div>
					<div class="ball-selector selection-panel-option ball-12" data-x=12></div>
					<div class="ball-selector selection-panel-option ball-13" data-x=13></div>
					<div class="ball-selector selection-panel-option ball-14" data-x=14></div>
				</div>

				<div class="grid-row row-number-7" data-y=7>
					<div class="ball-selector selection-panel-option ball-1" data-x=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-x=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-x=3></div>
					<div class="ball-selector selection-panel-option ball-4" data-x=4></div>
					<div class="ball-selector selection-panel-option ball-5" data-x=5></div>
					<div class="ball-selector selection-panel-option ball-6" data-x=6></div>
					<div class="ball-selector selection-panel-option ball-7" data-x=7></div>
					<div class="ball-selector selection-panel-option ball-8" data-x=8></div>
					<div class="ball-selector selection-panel-option ball-9" data-x=9></div>
					<div class="ball-selector selection-panel-option ball-10" data-x=10></div>
					<div class="ball-selector selection-panel-option ball-11" data-x=11></div>
					<div class="ball-selector selection-panel-option ball-12" data-x=12></div>
					<div class="ball-selector selection-panel-option ball-13" data-x=13></div>
					<div class="ball-selector selection-panel-option ball-14" data-x=14></div>
				</div>

				<div class="grid-row row-number-8" data-y=8>
					<div class="ball-selector selection-panel-option ball-1" data-x=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-x=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-x=3></div>
					<div class="ball-selector selection-panel-option ball-4" data-x=4></div>
					<div class="ball-selector selection-panel-option ball-5" data-x=5></div>
					<div class="ball-selector selection-panel-option ball-6" data-x=6></div>
					<div class="ball-selector selection-panel-option ball-7" data-x=7></div>
					<div class="ball-selector selection-panel-option ball-8" data-x=8></div>
					<div class="ball-selector selection-panel-option ball-9" data-x=9></div>
					<div class="ball-selector selection-panel-option ball-10" data-x=10></div>
					<div class="ball-selector selection-panel-option ball-11" data-x=11></div>
					<div class="ball-selector selection-panel-option ball-12" data-x=12></div>
					<div class="ball-selector selection-panel-option ball-13" data-x=13></div>
					<div class="ball-selector selection-panel-option ball-14" data-x=14></div>
				</div>

				<div class="grid-row row-number-9" data-y=9>
					<div class="ball-selector selection-panel-option ball-1" data-x=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-x=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-x=3></div>
					<div class="ball-selector selection-panel-option ball-4" data-x=4></div>
					<div class="ball-selector selection-panel-option ball-5" data-x=5></div>
					<div class="ball-selector selection-panel-option ball-6" data-x=6></div>
					<div class="ball-selector selection-panel-option ball-7" data-x=7></div>
					<div class="ball-selector selection-panel-option ball-8" data-x=8></div>
					<div class="ball-selector selection-panel-option ball-9" data-x=9></div>
					<div class="ball-selector selection-panel-option ball-10" data-x=10></div>
					<div class="ball-selector selection-panel-option ball-11" data-x=11></div>
					<div class="ball-selector selection-panel-option ball-12" data-x=12></div>
					<div class="ball-selector selection-panel-option ball-13" data-x=13></div>
					<div class="ball-selector selection-panel-option ball-14" data-x=14></div>
				</div>
				<div class="grid-row row-number-10" data-y=10>
					<div class="ball-selector selection-panel-option ball-1" data-x=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-x=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-x=3></div>
					<div class="ball-selector selection-panel-option ball-4" data-x=4></div>
					<div class="ball-selector selection-panel-option ball-5" data-x=5></div>
					<div class="ball-selector selection-panel-option ball-6" data-x=6></div>
					<div class="ball-selector selection-panel-option ball-7" data-x=7></div>
					<div class="ball-selector selection-panel-option ball-8" data-x=8></div>
					<div class="ball-selector selection-panel-option ball-9" data-x=9></div>
					<div class="ball-selector selection-panel-option ball-10" data-x=10></div>
					<div class="ball-selector selection-panel-option ball-11" data-x=11></div>
					<div class="ball-selector selection-panel-option ball-12" data-x=12></div>
					<div class="ball-selector selection-panel-option ball-13" data-x=13></div>
					<div class="ball-selector selection-panel-option ball-14" data-x=14></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	articulation
			.setupModuleXY("{{ server }}", "{{ hand }}", "articulacao", "1");
</script>
