<link rel="stylesheet" href="{{ server }}/css/main.css">

<script src="{{ server }}/js/external-libs/js.cookie.js"></script>
<script src="{{ server }}/js/helpers/pybossa-api-helper.js"></script>
<script src="{{ server }}/js/helpers/load-html-helper.js"></script>
<script src="{{ server }}/js/helpers/video-helper.js"></script>
<script src="{{ server }}/js/ranking.js"></script>
<script src="{{ server }}/js/validador.js"></script>

<div id="alert-container" class="container">
	<div class="row">
		<div id="success" class="alert alert-success" style="display: none;">
			<a class="close" data-dismiss="alert" href="#">×</a> <strong>Parabéns!</strong>
			<span>Tarefa concluída.</span>
		</div>
		<div id="finish" class="alert alert-success" style="display: none;">
			<a class="close" data-dismiss="alert" href="#">×</a> <strong>Que
				pena,</strong><span> não há mais tarefas disponíveis!</span><br />
			<div class="alert-actions small">
				<a class="btn" href="/">Voltar</a> ou olhar <a class="btn"
					href="/pybossa/project">outros projetos.</a>
			</div>
		</div>
	</div>
</div>
<div id="loading-container">
	<img src="{{ server }}/img/loading.gif">
</div>
<div id="main-container" class="container body-container">
	<div id="validador-navbar" class="row">
		<div class="col-sm-12">
			<div class="btn btn-warning ranking-button pull-right"
				onclick="ranking.toggle()">Ver Ranking</div>
		</div>
	</div>
	<div id="validador-container" class="row">
		<div id="validador-header">
			<h2 class="validador-question">
				A animação do sinal "<span class="sign-label"></span>" está correta?
			</h2>
		</div>
		<div class="line-separator"></div>
		<div class="row">
			<div id="avatar-container" class="col-sm-6 video-container">
				<div class="row">
					<h6>
						ANIMAÇÃO "<span class="sign-label"></span>":
					</h6>
				</div>
				<div class="row">
					<video id="avatar-video" preload="metadata"
						class="video-body" autoplay loop controls>
					</video>
				</div>
				<div id="avatar-radio-answers" class="row radio-options">
					<div class="correct-answer-container"">
						<span class="correct-answer-label">ESTÁ CORRETO</span><img
							class="icon" src="{{ server }}/img/correct.png"></img><input
							value="CORRECT" type="radio" name="avatar-answers">
					</div>
					<div>
						<span class="incorrect-answer-label">ESTÁ ERRADO</span><img
							class="icon" src="{{ server }}/img/incorrect.png"></img><input
							id="incorrect-avatar-button" value="INCORRECT" type="radio"
							name="avatar-answers">
					</div>
				</div>
				<div id="comment-avatar" class="form-group">
					<h6>ENVIAR COMENTÁRIO SOBRE A ANIMAÇÃO:</h6>
					<textarea class="form-control" rows="2"></textarea>
				</div>
			</div>
			<div id="ref-container" class="col-sm-6 video-container">
				<div class="row">
					<h6>
						VÍDEO DE REFERÊNCIA “<span class="sign-label"></span>”:
					</h6>
				</div>
				<div class="row">
					<video id="ref-video" preload="metadata" class="video-body"
						autoplay loop controls>
					</video>
				</div>
				<div id="ref-radio-answers" class="row radio-options">
					<div class="correct-answer-container"">
						<span class="correct-answer-label">ESTÁ CORRETO</span><img
							class="icon" src="{{ server }}/img/correct.png"></img><input
							value="CORRECT" type="radio" name="ref-answers">
					</div>
					<div>
						<span class="incorrect-answer-label">ESTÁ ERRADO</span><img
							class="icon" src="{{ server }}/img/incorrect.png"></img><input
							id="incorrect-ref-button" value="INCORRECT" type="radio"
							name="ref-answers">
					</div>
				</div>
				<div id="comment-ref" class="form-group">
					<h6>ENVIAR COMENTÁRIO SOBRE O VÍDEO DE REFERÊNCIA:</h6>
					<textarea class="form-control" rows="2"></textarea>
				</div>
				<div id="finish-task-container" class="row finish-padding-top">
					<div id="finish-button" class="finish-task-button enabled-button">
						<span id="finish-button-text">ENVIAR ANÁLISE E FINALIZAR</span><img
							class="icon" src="{{ server }}/img/finish.svg"></img>
					</div>
					<div id="skip-button" class="finish-task-button enabled-button">
						PULAR<img class="icon" src="{{ server }}/img/skip.svg"></img>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="ranking-container" class="row"></div>
</div>

<script type="text/javascript">
	validador
			.run("{{ server }}", "{{ server_backend }}", "{{ app_shortname }}", "{{ api_db_host }}");
</script>
