{% extends "base.html" %}
{% set active_page = "profile" %}
{% set active_link = "profile" %}
{% import "account/_helpers.html" as helper %}
{% import "projects/_helpers.html" as project_helper %}

{% block content %}

{{ helper.render_account_local_nav(current_user, active_link) }}
<div class="container">
    <h1><strong>{{current_user.fullname}}</strong></h1>
    <h2>{{ _('Your Profile') }}</h2>
    {{ helper.render_user_profile(current_user, upload_method, "settings") }} 
    <hr>
    <h2>{{ _('Your Contributions') }}</h2>
    {% for project in projects_contrib %}
    <div class="row well well-small">
        <div class="col-sm-3 col-md-2">
            {{ project_helper.render_project_thumbnail(project, upload_method, class='img-thumbnail', style='max-width:100px; max-height:100px;') }}
        </div>
        <div class="col-sm-9 col-md-10">
            <h2><a href="{{url_for('project.details', short_name=project.short_name)}}">{{project.name}}</a></h2>
              <a class="btn btn-primary" href="{{url_for('project.presenter', short_name=project.short_name)}}"><i class="glyphicon glyphicon-thumbs-up"></i> {{ _('Contribute!') }}</a>
        </div>
    </div><!-- end row -->
    {% endfor %}
{{ project_helper.broken_image() }}
</div>
{% endblock %}
