{% extends "base.html" %}
{% set active_page = "profile" %}
{% set active_link = "projects" %}
{% import "account/_helpers.html" as helper %}
{% import "projects/_helpers.html" as project_helper %}

{% block content %}

{{ helper.render_account_local_nav(current_user, active_link) }}
<div class="container">
    <h1>{{ current_user.fullname }}'s {{ _('Projects') }}</h1>
    {% if projects_published or projects_draft %}
        {% if projects_published %}
            <h2>{{ _('Published') }}</h2>
            {% for project in projects_published %}
                {{ project_helper.render_project_short_summary(project, upload_method) }}
            {% endfor %}
        {% endif %}
        {% if projects_draft %}
            <h2>{{ _('Draft') }}</h2>
            {% for project in projects_draft %}
                {{ project_helper.render_project_short_summary(project, upload_method) }}
            {% endfor %}
        {% endif %}
    {% else %}
        <h2>{{ _('You have not created a project') }}</h2>
        <a href="{{url_for('project.new')}}" class="btn btn-primary">{{ _('Create a Project') }}</a>
    {% endif %}
</div>
{{ project_helper.broken_image() }}
{% endblock %}
