{% extends "base.html" %}

{% block content %}

<div class="container container-main">

  <div class="alert alert-warning" role="alert">
    <span class="label label-warning"><i class="glyphicon glyphicon-bullhorn"></i> {{ _('Note') }}</span>
      {{ _('By click the') }} <strong>{{ _('Sign in button') }}</strong> {{ _('below you are agreeing to
      the') }} <a href={{url_for('help.tos')}}>{{ _('terms of use') }}</a> {{ _('and') }}
      <a href={{data_use | safe}}>{{ _('data') }}</a>.
  </div>




{% from "_formhelpers.html" import render_field %}

  <div class="login-screen">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
            
        <form id="signin" method="post" class="form-horizontal" action="">
          {{ form.hidden_tag() }}
          <div class="login-form">
            <h6 class="text-center">{{ _('Sign in with your PyBossa account') }}</h6>
            
            {{ render_field(form.email, placeholder="") }}
            {{ render_field(form.password, placeholder="") }}

            <input type="submit" value="{{ _('Sign in') }}" class="btn btn-primary btn-block" />
            <div class="row">
              <div class="col-sm-6">
                <a href="{{ url_for('account.register') }}" class="btn btn-lg btn-block btn-link"><span class="glyphicon glyphicon-user"></span> {{ _(' Create a new account!') }}</a>
              </div>
              <div class="col-sm-6">
                <a href="{{ url_for('account.forgot_password') }}" class="btn btn-lg btn-block btn-link">{{ _('Forgot Password') }}</a>
              </div>
            </div>

          </div>
            {% if next is not none%}
            <br>
            <div class="row">
              {% if auth.twitter %}
              <div class="col-sm-4">
                <a href="{{ url_for('twitter.login', next=next) }}" class="btn btn-default btn-block">Twitter</a>
              </div>
              {% endif %}
              {% if auth.facebook %}
              <div class="col-sm-4">
                <a href="{{ url_for('facebook.login') }}" class="btn btn-default btn-block">Facebook</a>
              </div>
              {% endif %}
              {% if auth.google %}
              <div class="col-sm-4">
                <a href="{{ url_for('google.login') }}" class="btn btn-default btn-block">Google</a>
              </div>
              {% endif %}
            </div>
            {% else %}
            <br>
            <div class="row">
              {% if auth.twitter %}
              <div class="col-sm-4">
                <a href="{{ url_for('twitter.login') }}" class="btn btn-default btn-block">Twitter</a>
              </div>
              {% endif %}
              {% if auth.facebook %}
              <div class="col-sm-4">
                <a href="{{ url_for('facebook.login') }}" class="btn btn-default btn-block">Facebook</a>
              </div>
              {% endif %}
              {% if auth.google %}
              <div class="col-sm-4">
                <a href="{{ url_for('google.login') }}" class="btn btn-default btn-block">Google</a>
              </div>
              {% endif %}
            </div>
            {% endif %}
        </form>

      </div>
    </div>

  </div>

</div>
{% endblock %}
