<div class="subconfiguration-panel col-sm-12" mainConfig="facial">
	<div class="arrow icon_container col-sm-1" name="left-arrow">
		<img src="{{ server }}/img/left-arrow-icon.png" />
	</div>
	<div class="subconfiguration-options-container col-sm-10">
		<div class="subconfiguration-options col-sm-12">
			<div class="icon_container" name="facial-expression"
				json_name="expressao">
				<img src="{{ server }}/img/facial-expression-icon.png" />
			</div>
			<div class="icon_container" name="facial-expression-velocity"
				json_name="transicao">
				<img src="{{ server }}/img/facial-expression-velocity-icon.png" />
			</div>
			<div class="icon_container" name="facial-expression-duration"
				json_name="duracao">
				<img src="{{ server }}/img/facial-expression-duration-icon.png" />
			</div>
		</div>
	</div>
	<div class="arrow icon_container col-sm-1" name="right-arrow">
		<img src="{{ server }}/img/right-arrow-icon.png" />
	</div>
</div>
