.gray-background {
    background-repeat: no-repeat;
    background-size: 67% 95%, 100% 100%;
    min-width: 285px;
    min-height: 361px
}

.selection-panel-body[mainConfig=right-hand] .gray-front-avatar {
	background-image: url(../img/pa/gray-front-avatar.png), url(../img/pa/default-base.png);
	background-position: 105px 15px, 0 0;
}

.selection-panel-body[mainConfig=left-hand] .gray-front-avatar {
	background-image: url(../img/pa/gray-front-avatar.png), url(../img/pa/default-base.png);
	background-position: 2px 15px, 0 0;
}

.gray-side-avatar {
	background-image: url(../img/pa/gray-side-avatar.png), url(../img/pa/default-base.png);
	background-position: center 15px, 0 0;
}

.module-x-y {
    display: none
}

.module-x-y.active {
    display: block
}

.grid {
    position: relative
}

.grid .grid-selectors {
    width: 315px;
    height: 361px;
    margin: 5%;
    margin-left: 3%;
    z-index: 10
}

.selection-panel-body[mainConfig=right-hand] .grid .grid-selectors .grid-row {
    height: 10%;
    padding-top: 4%;
    text-align: justify;
    z-index: 20
}

.selection-panel-body[mainConfig=left-hand] .grid .grid-selectors .grid-row {
    height: 10%;
    padding-top: 4%;
    margin-left: 13%;
    text-align: justify;
    z-index: 20
}

.grid .grid-selectors .grid-row .ball-selector {
    background-color: #A0D0E8;
    border-radius: 50%;
    z-index: 100;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 3.3%;
    float: left;
}

.grid .grid-selectors .grid-row .ball-selector .point-selector {
    margin-left: -.5px;
    margin-top: -7.5px
}

.grid .avatar-base {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0
}

.grid .grid-selectors .grid-row .ball-selector.active,
.grid .grid-selectors .grid-row .ball-selector:hover {
    box-shadow: 0 0 10px #fff
}

.grid .grid-selectors .grid-row .ball-selector:hover {
	cursor: pointer
}

.actions .btn {
    margin-top: 15px
}

.selection-panel-body[mainConfig=right-hand] .module-z .grid-selectors .grid-row,
.selection-panel-body[mainConfig=left-hand] .module-z .grid-selectors .grid-row  {
    margin-right: 58%;
    padding-top: 0%;
    height: 8%
}

.module-z .grid-selectors .grid-row .ball-selector {
    float: right;
    margin-right: 15%
}

.module-z .grid-selectors .grid-row .ball-selector:nth-last-of-type(1) {
    margin-right: 15%
}