@import url("articulation.css");
@import url("submit-sign.css");
@import url("teached-signs.css");
@import url("ranking.css");
@import url("tutorial.css");

/* Main */
body nav.navbar:first-child {
	display: none;
}

.navbar-wl .navbar-nav {
	padding-left: 60px;
}

footer {
	display: none;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('../fonts/titilliumweb/TitilliumWeb-SemiBold.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6, h7, h8 {
	color: #4e7ebf;
	font-family: 'Titillium Web', sans-serif;
}

body {
	background: -webkit-linear-gradient(left, #92bbe5, #ddeeff, #92bbe5);
	background: -o-linear-gradient(right, #92bbe5, #ddeeff, #92bbe5);
	background: -moz-linear-gradient(right, #92bbe5, #ddeeff, #92bbe5);
	background: linear-gradient(to right, #92bbe5, #ddeeff, #92bbe5);
}

/* Nav-bar */
.wl-logo {
	position: fixed;
	top: 8px;
	z-index: 9999;
}

.wl-logo img {
	width: 80px;
	height: 80px;
}

.navbar-wl {
	z-index: 9998;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	left: 0;
	background-color: rgba(43, 40, 41, 0.95);
	opacity: 0.95;
}

.navbar-wl .navbar-collapse.in .nav {
	padding-top: 35px;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
}

@media screen and (max-width: 768px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #ffffff;
	}
}

.col-centered {
	display: block;
	float: none;
	margin: 0px auto;
}

.btn-default {
	background-color: #8a76e7;
	border-radius: 5px;
	border-bottom-color: #6958b4;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	font-weight: bold;
}

.btn-default.disabled {
	border-bottom-color: #697284;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.icon_container {
	cursor: default;
	padding: 0px;
	z-index: 1000;
}

.icon_container:hover {
	cursor: pointer;
}

#main-container {
	padding-top: 42px;
}

#main-container .modal {
	top: 80px;
}

#main-container .tutorial-info {
	margin-top: 0px;
}


.sub-main-container {
	display: none;
}

#teach-container {
	display: block;
}

#initial-screen {
	display: none;
	padding-top: 40px;
}

#configuration-screen {
	display: none;
}

#render-screen {
	display: none;
}

#thanks-screen {
	display: none;
}

.video-body-main {
	height: 100%;
	width: 100%;
}

.video-border {
	border-style: solid;
	border-color: #b1cdeb;
	border-radius: 5px;
	border-width: 5px;
}

/* Reference Video */
#maximize-icon-container {
	display: none;
}

#ref-video-container {
	padding: 0px 10px 0px 0px;
}

#ref-video-panel {
	display: inline-block;
	padding: 0px 0px 50px 0px;
}

.ref-video {
	background-color: #000000;
}

#initial-screen .ref-video {
	max-height: 350px;
}

#configuration-screen .ref-video {
	max-height: 250px;
}

/* Avatar Container */
#avatar-facial {
	display: none;
}

#avatar-right-hand {
	display: none;
}

#avatar-left-hand {
	display: none;
}

#avatar-body-face {
	position: absolute;
	left: 277px;
	z-index: 1000;
}

#avatar-body-right-hand {
	position: absolute;
	top: 270px;
	left: 115px;
	z-index: 1000;
	left: 115px;
}

#avatar-body-left-hand {
	position: absolute;
	top: 270px;
	left: 427px;
	z-index: 1000;
	left: 427px;
}

#facial-edit {
	top: 110px;
	left: 410px;
}

#right-hand-edit {
	top: 465px;
	left: 140px;
}

#left-hand-edit {
	top: 465px;
	left: 470px;
}

.edit-container {
	position: relative;
	float: left;
	width: 0px;
	z-index: 1000;
}

#avatar-container .check-icon {
	display: none;
	padding-bottom: 10px;
}

#avatar-container {
	overflow: hidden;
}

.avatar-container-zoom-in {
	height: 610px;
}

.avatar-img {
	height: 100%;
	-webkit-transition: width 1.5s ease-in-out, height 1.5s ease-in-out;
	-moz-transition: width 1.5s ease-in-out, height 1.5s ease-in-out;
	-o-transition: width 1.5s ease-in-out, height 1.5s ease-in-out;
	-ms-transition: width 1.5s ease-in-out, height 1.5s ease-in-out;
	transition: width 1.5s ease-in-out, height 1.5s ease-in-out;
	-webkit-transition: width 1.5s ease-in-out, height 1.5s ease-in-out;
}

.avatar-img-zoom-in {
	position: relative;
	height: 150%;
	left: -35px;
}

.avatar-img-zoom-out {
	display: block;
	position: relative;
	height: 100%;
	left: 0px;
	margin-left: 103px;
}

.avatar-facial-img-zoom-in {
	position: relative;
	height: 110%;
	left: -35px;
}

.avatar-right-hand-img-zoom-in {
	position: relative;
	height: 115%;
	left: -27px;
}

.avatar-left-hand-img-zoom-in {
	position: relative;
	height: 115%;
	left: -27px;
}

/* Configuration Panel */
#configuration-menu {
	background-color: #556575;
	border-style: solid;
	border-color: #9cbfe3;
	border-radius: 6px;
	border-width: 2px;
	padding: 10px 10px 5px 5px;
}

.configuration-menu-label {
	color: #FFFFFF;
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
}

/* Selection Panel */
#selection-panel {
	display: none;
}

#facial-selection {
	display: none;
}

#ready-button {
	position: relative;
	top: -80px;
}

.panel-header {
	padding: 5px 0px 10px 3px;
}

.selection-panel-body {
	position: relative;
	border-radius: 5px;
	overflow-y: initial !important;
	width: 360px;
	overflow-y: scroll;
	max-height: 100%;
	padding: 8px;
	background-color: rgba(79, 98, 117, 0.1);
	margin-bottom: 10px;
}

.selection-panel-inner-body {
	height: 430px;
	overflow-y: auto;
	padding: 5px;
}

.x {
	position: absolute;
	right: 0px;
	top: -15px;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	content: "";
	z-index: 1000;
}

.x::before, .x::after {
	position: absolute;
	top: 14px;
	left: 7px;
	width: 20px;
	height: 5px;
	content: "";
	background-color: #ffffff;
}

.x::before {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.x::after {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

ul.rig {
	list-style: none;
	text-align: center;
	margin-left: -15%;
}

ul.rig li {
	display: inline-block;
	list-style-type: circle;
	margin: 1%;
	vertical-align: middle;
}

ul.rig.columns-2 li {
	width: 45%;
	font-size: 17px;
}

ul.rig.columns-3 li {
	width: 30%;
}

ul.rig.columns-4 li {
	width: 20%;
}

.selection-panel-body[mainconfig=right-hand] ul.rig.columns-1 li,
	.selection-panel-body[mainconfig=left-hand] ul.rig.columns-1 li {
	width: 60%;
}

.box-panel-option, .video-panel-option {
	max-width: 100%;
	border-radius: 5px;
	border: 3px solid #80A8D2;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #c1c9d0;
	cursor: pointer;
}

.box-panel-option:hover, .box-panel-option[select=true],
	.video-panel-option[select=true], .video-panel-option-hover {
	border-color: #9678b0;
}

.box-panel-option {
	border-color: #80A8D2;
}

/* Facial Expression Configuration */
#facial-expression {
	display: none;
}

#facial-expression-velocity {
	display: none;
}

#facial-expression-duration {
	display: none;
}

.single-column-option-container .video-panel-option {
	height: 100px;
}

.single-column-option-container {
	padding-bottom: 20px;
}

.single-column-option {
	display: inline-block;
	vertical-align: middle;
	padding-right: 25px;
}

/* Sub-Configuration Panel */
.subconfiguration-options {
	overflow-x: scroll;
	white-space: nowrap;
}

.subconfiguration-options-container {
	height: 45px;
	overflow: hidden;
}

.subconfiguration-panel {
	display: none;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #c1d5e8;
	border: solid 3px rgba(128, 168, 210, 0.75);
	border-radius: 5px;
}

.subconfiguration-options .icon_container[active=false] {
	display: none;
}

.subconfiguration-options .icon_container[active=true] {
	display: inline-block;
}

.subconfiguration-options .icon_container {
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
}

.arrow {
	padding-top: 5px;
}

.arrow[name=right-arrow] {
	padding-left: 10px;
}

/* Hand Configuration */
.rectilinear-point-label {
	font-weight: bold;
	color: #000000;
}

/* Render Screen */
#render-avatar {
	display: none;
}

#render-main {
	height: 542px;
}

#render-screen .col-sm-12 {
	padding-left: 0px;
}

#render-loading {
	display: none;
}

#loading-container {
	position: relative;
	height: 407px;
}

#render-loading img {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#render-ref video {
	height: 407px;
}

#approval-msg {
	display: none;
	margin: 0px;
	padding-left: 14px;
}

/* Thanks Screen */
#thanks-screen h3 {
	margin-bottom: 0px;
}

#thanks-screen img {
	width: 100%;
}

#thanks-screen a {
	text-decoration: underline;
}

#completed-all-task-msg {
	display: none;
}

#completed-task-msg h6 {
	margin: 0px 0px 60px 0px;
}

#completed-all-task-msg h6 {
	margin: 0px 0px 10px 0px;
}
