{% import "account/_helpers.html" as helper %}

{% macro render_admin_user(user, upload_method) %}
<div class="row well well-small">
    <div class="col-md-2">
        {{ helper.render_user_thumbnail(user, upload_method, style="height:100px; width:100px;")}}
    </div>
    <div class="col-md-10">
        <h2>{{user.fullname}} <small>({{ _('nick') }}: {{user.name}})</small></h2>
        <p>{{ _('Member since') }}: {{user.created[0:10]}}</p>
        {% if user.admin %}
        <a href="{{url_for('admin.del_admin', user_id=user.id)}}" class="btn btn-danger">
            <i class="glyphicon glyphicon-remove"></i>
            {{ _('Remove from admin group') }}</a>
        {% else %}
        <a href="{{url_for('admin.add_admin', user_id=user.id)}}" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus"></i>
            {{ _('Add to admin group') }}</a>
        {% endif %}
    </div>
</div>
{% endmacro %}
