{% extends "/base.html" %}
{% set active_page = "admin" %}
{% set active_link = "admin" %}
{% import "account/_helpers.html" as helper %}

{% block content %}

{{ helper.render_account_local_nav(current_user, active_link) }}
<div class="container">
    <h1><strong>{{ _('Admin Site') }}</strong></h1>
    <div class="row">
        <div id="dashboard" class="col-md-6">
            <div class="well">
                <h2><i class="glyphicon glyphicon-dashboard"></i> {{_('Dashboard')}}</h2>
                <p>{{_('Internal Statistics')}}</p>
                <a href="{{url_for('admin.dashboard')}}" class="btn btn-primary">
                    {{ _('Go') }} <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            </div>
        </div>
        <div id="dashboard" class="col-md-6">
            <div class="well">
                <h2><i class="glyphicon glyphicon-dashboard"></i> {{_('Background Jobs')}}</h2>
                <p>{{_('Monitor the background jobs')}}</p>
                <a href="{{url_for('rq_dashboard.overview')}}" class="btn btn-primary">
                    {{ _('Manage') }} <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="featured-apps" class="col-md-6">
            <div class="well">
                <h2><i class="glyphicon glyphicon-star"></i> {{_('Featured Projects')}}</h2>
                <p>{{_('Show projects on the front page')}}</p>
                <a href="{{url_for('admin.featured')}}" class="btn btn-primary">
                    {{ _('Manage') }} <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            </div>
        </div>
        <div id="categories" class="col-md-6">
            <div class="well">
                <h2><i class="glyphicon glyphicon-check"></i> {{_('Categories')}}</h2>
                <p>{{_('Manage project categories')}}</p>
                <a href="{{url_for('admin.categories')}}" class="btn btn-primary">
                    {{ _('Manage') }} <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="users" class="col-md-6">
            <div class="well">
                <h2><i class="glyphicon glyphicon-user"></i> {{_('Administrators')}}</h2>
                <p>{{_('Manage administrators')}}</p>
                <a href="{{url_for('admin.users')}}" class="btn btn-primary">
                    {{ _('Manage') }} <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            </div>
        </div>
        <div id="users-list" class="col-md-6">
            <div class="well">
                <h2><i class="glyphicon glyphicon-list"></i> {{_('Users')}}</h2>
                <p>{{_('Export a list of users')}}</p>
                <a href="{{url_for('admin.export_users', format='json')}}" class="btn btn-primary">
                    {{ _('JSON') }}
                </a>
                <a href="{{url_for('admin.export_users', format='csv')}}" class="btn btn-primary">
                    {{ _('CSV') }}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
