{% extends "base.html" %}
{% set active_page = "profile" %}
{% set active_link = "admin" %}
{% from "account/_helpers.html" import render_account_local_nav %}
{% from "admin/_helpers.html" import render_admin_user %}

{% block content %}

{{ render_account_local_nav(current_user, active_link) }}
<div class="container">
    <h1><strong>{{ _('Admin Site') }}:</strong> {{ _('Manage Admin Users') }}</h1>
    {% from "_formhelpers.html" import render_field %}
    <form class="form-search" method="POST">
        {{ form.hidden_tag() }}
        <div class="input-group">
            <input id="user" name="user" type="text" class="form-control search-query" placeholder={{ _('Try with the full name or nick') }}>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i> {{ _('Search') }}</button>
            </span>
        </div>
    </form>
    {% if found %}
    <h2>{{ _('Found Users') }}</h2>
    {% for user in found %}
    {{ render_admin_user(user, upload_method) }}
    {% endfor %}
    {% endif %}

    {% if users %}
    <h1>{{ _('Current Users with Admin privileges') }}</h1>
    {% for user in users %}
    {{ render_admin_user(user, upload_method) }}
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
