<div id="ranking-info-container" class="col-sm-4">
	<div class="title">WikiRanking</div>
	<div></div>
	<div class="avatar-info col-sm-12">
		<div class="avatar-placeholder col-sm-6 col-sm-offset-3">
			<img src="{{ server }}/img/ranking/user-shape.png">
		</div>
		<div class="avatar-container col-sm-8 col-sm-offset-2">
			<img src="">
		</div>
		<div class="col-sm-12">
			<div class="username"></div>
			<div class="rank-position-container">
				<strong><span class="rank-position"></span>º Posição</strong>
			</div>
		</div>
	</div>
	<div class="achievements-container col-sm-12">
		<div class="progress-container col-sm-12">
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="0"
					aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip"
					data-html="true"></div>
			</div>
		</div>
		<div class="progress-label">
			<span><strong>Progresso:</strong></span>
		</div>
	</div>
</div>
<div id="leaderboard-container" class="col-sm-8">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th></th>
				<th>#</th>
				<th><img src="{{ server }}/img/ranking/trophy-icon.png">
					<div>Membro</div></th>
				<th><img src="{{ server }}/img/ranking/signs-icon.png">
					<div>Sinais</div></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>