.breadcrumb.requests {
  margin-top: 20px;
  clear: both;
}

.table-requests td, .table-requests th {
  text-align: center;
}

.table-requests .label {
  text-transform: lowercase;
}

.videos-row {
  margin: 20px 0px;
}