<div class="selection-panel-body" mainConfig="{{ hand }}"
	subConfig="articulacao-retilineo" step="2">
	<div class="panel-header">
		<h8> <span class="rectilinear-point-label">Ponto inicial
			(A):</span> escolha a distância entre a mão e o corpo</h8>
	</div>
	<div class="selection-panel-inner-body">
		<div data-z="" class="module-z grid gray-background gray-side-avatar">
			<d
			<div class="grid-selectors pull-right">
				<div class="grid-row row-number-1">
					<div class="ball-selector selection-panel-option ball-1" data-z=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-z=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-z=3></div>
				</div>
				<div class="grid-row row-number-2">
					<div class="ball-selector selection-panel-option ball-1" data-z=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-z=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-z=3></div>
				</div>
				<div class="grid-row row-number-3">
					<div class="ball-selector selection-panel-option ball-1" data-z=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-z=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-z=3></div>
				</div>
				<div class="grid-row row-number-4">
					<div class="ball-selector selection-panel-option ball-1" data-z=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-z=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-z=3></div>
				</div>
				<div class="grid-row row-number-5">
					<div class="ball-selector selection-panel-option ball-1" data-z=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-z=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-z=3></div>
				</div>
				<div class="grid-row row-number-6">
					<div class="ball-selector selection-panel-option ball-1" data-z=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-z=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-z=3></div>
				</div>
				<div class="grid-row row-number-7">
					<div class="ball-selector selection-panel-option ball-1" data-z=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-z=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-z=3></div>
				</div>
				<div class="grid-row row-number-8">
					<div class="ball-selector selection-panel-option ball-1" data-z=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-z=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-z=3></div>
				</div>
				<div class="grid-row row-number-9">
					<div class="ball-selector selection-panel-option ball-1" data-z=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-z=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-z=3></div>
				</div>
				<div class="grid-row row-number-10">
					<div class="ball-selector selection-panel-option ball-1" data-z=1></div>
					<div class="ball-selector selection-panel-option ball-2" data-z=2></div>
					<div class="ball-selector selection-panel-option ball-3" data-z=3></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
  articulation.setupModuleZ("{{ server }}", "{{ hand }}",
		  "articulacao-retilineo", "2");
</script>
