= include_videojs_assets

.breadcrumb
  %h3= "Vídeo #{@video.request.video_filename}"

.row-fluid
  .span12.well
    .video-vlibras.text-center
      = html5_video_tag(@video.url_mp4,
                  'video-vlibras', '', '{ "controls": true, "autoplay": false }')