{% extends "base.html" %}
{% set active_page = "support" %}

{% block content %}
<div class="container">
    <h1><strong>Forbidden</strong></h1>
    <p class="lead">You do not have the permission to access the requested resource. It is either read-protected (i.e. the project is hidden) or not readable by the server.</p>
</div>
{% endblock %}
