    <div class="container">

    {% with messages = get_flashed_messages(with_categories=True) %}
    {%if messages %}
      {% for category, message in messages %}
      <div id="msg_{{category}}" class="alert-messages alert alert-{% if category == 'message' %}warning{% elif category == 'error' %}danger{% else %}{{category}}{% endif %} fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        {{ message | safe}}
      </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    </div>
