      <div class="container">
        <div class="row">
          <div class="col-sm-7">
            <div class="row">
              <div class="col-xs-3 text-center">
                <a href="http://lavid.ufpb.br/"><img class="wl-footer-lavid-logo" src="{{url_for('static', filename='img/logo-lavid.png')}}"></a>
              </div>
              <div class="col-xs-3 text-center">
                <a href="http://www.computacao.ufcg.edu.br/"><img src="{{url_for('static', filename='img/logocomp.png')}}" width="50%"></a>
              </div>
              <div class="col-xs-3 text-center">
                <a href="http://www.lsd.ufcg.edu.br/"><img src="{{url_for('static', filename='img/logolsd.png')}}" width="50%"></a>
              </div>
              <div class="col-xs-3 text-center">
                <a href="http://pybossa.com/"><img src="{{url_for('static', filename='img/pybossa.png')}}" width="100%"></a>
              </div>
              <div class="col-xs-5 text-center">
                <a href="https://www.planejamento.gov.br/"><img src="{{url_for('static', filename='img/ministerio_planejamento.png')}}" width="100%"></a>
              </div>
              <div class="col-xs-4 text-center">
                <a href="http://www.brasil.gov.br/"><img src="{{url_for('static', filename='img/governo_federal.png')}}" width="100%"></a>
              </div>
            </div>
            <br>
          </div>
          <div class="col-sm-5">
            <div class="wl-social-container">
                <p><strong>WikiLibras</strong> é uma plataforma colaborativa para construção de um dicionário em LIBRAS.</p>
                <p class="social-buttons">
                  <a href="{{ url_for('home.about')}}"><span class="icon icon-question-sign"></span></a>
                  &nbsp;
                  <a href="mailto:wikilibras@lavid.ufpb.br"><span class="icon icon-envelope"></span></a>
                  &nbsp;
                  <a href="https://www.youtube.com/channel/UCF94lq7TwAu5OmlwIu44qpA" target="_blank"><span class="icon icon-youtube"></span></a>
                  &nbsp;
                  <a href="https://www.facebook.com/vlibras" target="_blank"><span class="icon icon-facebook"></span></a>
                </p>
            </div>
          </div>
        </div>
      </div>
