<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if brand == title %}
    <title>{{ title }}</title>
    {% else %}
    <title>{{ brand }} &middot; {{ title | safe}}</title>
    {% endif %}
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{url_for('static', filename='vendor/bootstrap/3.3.5/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="{{url_for('static', filename='vendor/flat-ui.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/theme.css')}}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

    <!-- Le javascript -->
    <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-1.11.3.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap/3.3.5/js/bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendor/modernizr.min.js')}}"></script>
    <!-- Google Analytics or similar solutions -->
    {% include '_ga.html' ignore missing %}
    <!-- Google Custom Search -->
    {% include '_gcs.html' ignore missing %}
  </head>

  <body>
    {% if not current_user.is_anonymous() %}
    <!-- checkpoint::logged-in::{{current_user.name}} -->
    {% endif %}

    {% set active_page = active_page | default('index') -%}
    {% set active_project  = active_project | default('none') -%}
    {% include "_navbar.html" %}

    {% include "_flash_messages.html" %}

    {% block content %}<div class="container"></div>{% endblock %}

    {% if show_cookies_warning %}
    <div id="cookies_warning">
        <p>Cookies help us deliver our services. By using our services, you agree to our use of cookies. <button class="btn btn-xs btn-success" onclick="accept_cookies()"><i class="glyphicon glyphicon-thumbs-up"></i> OK</button> <a class="btn btn-xs" href="{{url_for('help.cookies_policy')}}"><i class="glyphicon glyphicon-info-sign"></i> More info</a></p>
    </div>
    {% endif %}
    <footer>
        {% include ['custom/_footer.html', '_footer.html'] ignore missing %}
    </footer>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
    {% include 'cookies.js' %}
    </script>
  </body>
</html>
