<div class="selection-panel-body" mainConfig="{{ hand }}"
	subConfig="sentido_inverso" step="1">
	<div class="panel-header">
		<h8>Escolha o sentido do movimento</h8>
	</div>
	<div class="selection-panel-inner-body">
		<ul class="rig columns-2">
			<li><video
					preload="metadata" value="true"
					class="box-panel-option selection-panel-option" autoplay loop>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/sentido-horario.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/sentido-horario.mp4" type="video/mp4">
				</video>Horário</li>
			<li><video
					preload="metadata" value="false"
					class="box-panel-option selection-panel-option" autoplay loop>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/sentido-anti-horario.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/sentido-anti-horario.mp4" type="video/mp4">
				</video>Anti-horário</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	defaultConfigurationHandler.setup("{{ hand }}", "sentido_inverso", "1");
</script>
