<div class="selection-panel-body" mainConfig="{{ hand }}"
	subConfig="raio" step="1">
	<div class="panel-header">
		<h8>Escolha o tamanho do raio do movimento</h8>
	</div>
	<div class="selection-panel-inner-body">
		<ul class="rig columns-2">
			<li><video
					preload="metadata" value="pequeno"
					class="box-panel-option selection-panel-option" autoplay loop>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/raio-pequeno.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/raio-pequeno.mp4" type="video/mp4">
				</video>Pequeno</li>
			<li><video
					preload="metadata" value="normal"
					class="box-panel-option selection-panel-option" autoplay loop>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/raio-normal.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/raio-normal.mp4" type="video/mp4">
				</video>Médio</li>
			<li><video
					preload="metadata" value="grande"
					class="box-panel-option selection-panel-option" autoplay loop>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/raio-grande.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/raio-grande.mp4" type="video/mp4">
				</video>Grande</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	defaultConfigurationHandler.setup("{{ hand }}", "raio", "1");
</script>
