.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        .icon-bar
        .icon-bar
        .icon-bar


      = link_to "VLibras-Vídeo", home_path, :class => "brand"

      .nav-collapse
        %ul.nav
          - if current_user.present?

            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                = t('shared.vlibras')
                - if current_user.videos.not_seen.any?
                  %span.label.label-success Novo vídeo!
                %strong.caret
              %ul.dropdown-menu
                %li
                  = link_to v_libras_videos_path do
                    = t('wikivideos.my_videos')
                    - if current_user.videos.not_seen.any?
                      %span.label.label-success= current_user.videos.not_seen.size
                %li= link_to t('videos.new'), new_v_libras_request_path
                %li.divider
                %li= link_to t('shared.form_alternative'), rapid_v_libras_requests_path

            %li.dropdown.hidden
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                = t('shared.wikilibras')
                %strong.caret
              %ul.dropdown-menu
                %li= link_to t('wikivideos.my_signals'), '#'
                %li= link_to t('wikivideos.cadastro_sinal'), '#'
                %li.divider
                %li= link_to t('wikivideos.dicionario_de_dados'), '#'

            %li.hidden= link_to t('shared.slibras')

          %li= link_to t('shared.about'), "http://www.vlibras.com.br", :target => "blank"

        - if current_user.present?
          .nav-collapse.pull-right.user-menu
            %ul.nav
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                  = current_user.name
                  %strong.caret
                %ul.dropdown-menu
                  %li= link_to t('shared.logout'), destroy_user_session_path, :method => 'delete'

          /
            <ul class="nav secondary-nav">
            <li><haml_loud> link_to image_tag('pt.png'), url_for( :locale => 'pt' ), :title => "Português" </haml_loud></li>
            <li><haml_loud> link_to image_tag('en.png'), url_for( :locale => 'en' ), :title => 'English' </haml_loud></li>
            </ul>
