= include_videojs_assets

.row-fluid
  .span7
    = html5_video_tag(['/system/videos/login.mp4'],
      'login-video', 'video-instructions', '{ "autoplay": true }')

  .span4.offset1.login
    %h2 Entrar
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
      = f.input :email, :autofocus => true
      = f.input :password, :label => "Senha", :required => false
      = f.input :remember_me, :label => "Lembre-me da senha", :as => :boolean if devise_mapping.rememberable?
      = f.button :submit, "Entrar", { :style=>'background-color: #8a76e7;', :class => 'btn' }
    = render "devise/shared/links"
