<div class="selection-panel-body" mainConfig="facial"
	subConfig="transicao" step="1">
	<div class="panel-header">
		<h8>Velocidade de Transição</h8>
	</div>
	<div class="single-column-option-container">
		<div class="single-column-option">
			<video
				preload="metadata" value="lento"
				class="video-panel-option selection-panel-option" autoplay loop>
				<source src="{{ server }}/img/exf/velocity-slow.webm" type="video/webm">
				<source src="{{ server }}/img/exf/velocity-slow.mp4" type="video/mp4">
		</div>
		<img class="single-column-option"
			src="{{ server }}/img/slow-velocity-icon.png" /> Lento
	</div>
	<div class="single-column-option-container">
		<div class="single-column-option">
			<video
				preload="metadata" value="normal"
				class="video-panel-option selection-panel-option" autoplay loop>
				<source src="{{ server }}/img/exf/velocity-normal.webm" type="video/webm">
				<source src="{{ server }}/img/exf/velocity-normal.mp4" type="video/mp4">
		</div>
		<img class="single-column-option"
			src="{{ server }}/img/normal-velocity-icon.png" /> Normal
	</div>
	<div class="single-column-option-container">
		<div class="single-column-option">
			<video
				preload="metadata" value="rapido"
				class="video-panel-option selection-panel-option" autoplay loop>
				<source src="{{ server }}/img/exf/velocity-fast.webm" type="video/webm">
				<source src="{{ server }}/img/exf/velocity-fast.mp4" type="video/mp4">
		</div>
		<img class="single-column-option"
			src="{{ server }}/img/fast-velocity-icon.png" /> Rápido
	</div>
</div>
<script type="text/javascript">
	facial.setup('transicao');
</script>