#position-step.wrapper
  .video_wrapper

  = html5_video_tag(['/system/videos/workflow/localizacao.mp4'],
        'id-4', 'video-wizard', '{ "preload": "none", "controls": false }')

- content_for :javascript_code do
  :javascript
    $(function () {
      var optionsPosition = {
          video: { width: 940, height: 530 },
          buttons: [ { id: 'btn-red-light3', path: '/system/images/video/red-button.png', clickable: false, start: 0.1, end: 19.1, x: 440, y: 516, delay: 300, value: null },
                     { id: 'btn-green-light3', path: '/system/images/video/green-button.png', clickable: false, start: 14.9, end: 999, x: 440, y: 512, delay: 300, value: null },
                     { id: 'b_loc_1', path: '/system/images/loc/p_1.png', clickable: false, start: 9, end: 9.5, x: 500, y: 350, delay: 300, value: null },
                     { id: 'b_loc_2', path: '/system/images/loc/p_2.png', clickable: false, start: 11, end: 11.5, x: 330, y: 340, delay: 300, value: null },
                     { id: 'b_loc_3', path: '/system/images/loc/p_3.png', clickable: false, start: 12.8, end: 13.3, x: 300, y: 40, delay: 300, value: null },
                     { id: 'b_loc_4', path: '/system/images/loc/p_4.png', clickable: false, start: 14.5, end: 15, x: 530, y: 40, delay: 300, value: null },
                     { id: 'b_loc_5', path: '/system/images/loc/p_4.png', clickable: true, start: debugTime(15), end: 9999, x: 150, y: 30, delay: 300, value: "top_left" },
                     { id: 'b_loc_6', path: '/system/images/loc/p_3.png', clickable: true, start: debugTime(15), end: 9999, x: 680, y: 30, delay: 300, value: "top_right" },
                     { id: 'b_loc_7', path: '/system/images/loc/p_1.png', clickable: true, start: debugTime(15), end: 9999, x: 680, y: 410, delay: 300, value: "bottom_left" },
                     { id: 'b_loc_8', path: '/system/images/loc/p_2.png', clickable: true, start: debugTime(15), end: 9999, x: 150, y: 410, delay: 300, value: "bottom_right" }
          ]
      };

      var VLibrasPosition = new VLibrasLocalization();
      console.log("POSICAO");
      VLibrasPosition.init("#position-step", optionsPosition);
    });
