#service-step.wrapper
  .video_wrapper

  = html5_video_tag(['/system/videos/workflow/sub_audio.mp4'],
      'id-2', 'video-wizard', '{ "preload": "none", "controls": false }')

  .row-fluid.hide
    .span1.offset3
      = label_tag :video, t('videos.subtitle'), :class => "bold"

    .span5
      = file_field_tag 'subtitle', :id => 'subtitle-upload',
        :accept => '.srt'


- content_for :javascript_code do
  :javascript
    $(function () {
      var optionsService = {
          video: { width: 940, height: 530 },
          buttons: [ { id: 'btn-red-light2', path: '/system/images/video/red-button.png', clickable: false, start: 0.1, end: 8, x: 440, y: 516, delay: 300, value: null },
                     { id: 'btn-green-light2', path: '/system/images/video/green-button.png', clickable: false, start: 8, end: 999, x: 440, y: 512, delay: 300, value: null },
                     { id: 'btn-video-legenda', path: '/system/images/sub_audio/p_1.png', clickable: true, start: debugTime(8), end: 9999, x: 415, y: 417, delay: 300 },
          ]
      };

      var VLibrasSubAudio = new VLibrasLocalization();
      VLibrasSubAudio.init("#service-step", optionsService);
    });
