:javascript
  $(function() {
    $.contra( function() {
      alert('Bem vindo ao modo debug! Os botões irão aparecer na tela antes do tempo normal.');
      window.location.href = window.location.href + "?debug";
    }, { code : [ 68, 69, 66, 85, 71 ] } );
  });

= include_videojs_assets

- content_for :js do
  = javascript_include_tag "jquery.steps.js"
  = javascript_include_tag "jquery.contra.min.js"
  = javascript_include_tag "v_libras/requests/shared"
  = javascript_include_tag "v_libras/requests/new"
  = javascript_include_tag "v_libras/requests/workflow"

- content_for :css do
  = stylesheet_link_tag "jquery.steps.css"
  = stylesheet_link_tag "v_libras/requests"

.breadcrumb
  %h3 Novo vídeo

= form_tag v_libras_requests_path, method: :post, :multipart => true, :id => 'vlibras-form' do |f|
  .content.row-fluid
    #vlibras-wizard

      %h2 Vídeo
      %section
        = render :partial => 'video_step'

      %h2 Legenda
      %section
        = render :partial => 'service_step'

      %h2 Posição
      %section
        = render :partial => 'position_step'

      %h2 Tamanho
      %section
        = render :partial => 'size_step'

    #menu.center.hide
      = button_tag 'Próximo', :class => "btn btn-large btn-success", :id => 'btn-next', :disabled => true

    .progress.progress-striped.active.hide{:style => 'position: relative;'}
      #upload-bar.bar
      #upload-label.center{:style => 'position: absolute; width: 100%; font-size: 12px;'}

.row-fluid
  #step-service

  #step-video-upload

  #step-subtitle-upload

  #step-size

  #step-position
