<div class="well">
    <h6><i class="glyphicon glyphicon-music"></i> {{_('Sound Pattern Recognition')}}</h6> 
    <p>{{_('Re-use the SoundCloud tasks')}}</p>
  <p><a href="{{url_for('project.import_task', short_name=project.short_name,
      type='gdocs', template='sound')}}" class="btn btn-default">{{_('Use the
      Sound tasks')}}</a></p>
</div>
