<div class="well">
    <h6><i class="glyphicon glyphicon-film"></i> {{_('Video Pattern Recognition')}}</h6> 
    <p>{{_('Re-use the Vimeo tasks')}}</p>
  	<p><a href="{{url_for('project.import_task', short_name=project.short_name,
      type='gdocs', template='video')}}" class="btn btn-default">{{_('Use the
      Video tasks')}}</a></p>
</div>
