<div class="well">
  <h6><i class="glyphicon glyphicon-globe"></i> {{ _('Geo-coding') }}</h6> 
  <p>{{ _('Re-use the Urban Park template') }}</p>
  <p>{{ _('Complexity') }}: <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></p>
  <p>{{ _('Skills') }}: {{ _('HTML, JavaScript and Geo expertise') }}</p>
  <p><a href="{{url_for('project.task_presenter_editor', short_name=project.short_name, template='map')}}" class="btn btn-default">{{ _('Use the Maps project template') }}</a>
  <a href="https://github.com/PyBossa/project-geocoding/archive/master.zip" class="btn btn-default">{{ _('Download the template and work locally') }}</a></p>
</div>
