<div class="well">
  <h6><i class="glyphicon glyphicon-pencil"></i> {{ _('Transcribing documents') }}</h6> 
  <p>{{ _('Re-use the PDF transcription template') }}</p>
  <p>{{ _('Complexity') }}: <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></p>
  <p>{{ _('Skills') }}: {{ _('HTML, JavaScript and Server side') }}</p>
  <p><a href="{{url_for('project.task_presenter_editor', short_name=project.short_name, template='pdf')}}" class="btn btn-default">{{ _('Use the Transcription template') }}</a>
  <a href="https://github.com/PyBossa/pdftranscribe/archive/master.zip" class="btn btn-default">{{ _('Download the template and work locally') }}</a></p>
</div>
