<div class="well">
  <h6><i class="glyphicon glyphicon-music"></i> {{ _('Sound Pattern Recognition') }}</h6> 
  <p>{{ _('Re-use the SoundCloud template') }}</p>
  <p>{{ _('Complexity') }}: <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-half"></i></p>
  <p>{{ _('Skills') }}: {{ _('HTML and JavaScript') }}</p>
  <p><a href="{{url_for('project.task_presenter_editor', short_name=project.short_name, template='sound')}}" class="btn btn-default">{{ _('Use the Sound template') }}</a>
  <a href="https://github.com/PyBossa/project-soundcloud/archive/master.zip" class="btn btn-default">{{ _('Download the template and work locally') }}</a></p>
</div>
