<div class="well">
  <h6><i class="glyphicon glyphicon-film"></i> {{ _('Video Pattern Recognition') }}</h6> 
  <p>{{ _('Re-use the Vimeo template') }}</p>
  <p>{{ _('Complexity') }}: <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></p>
  <p>{{ _('Skills') }}: {{ _('HTML and JavaScript') }}</p>
  <p><a href="{{url_for('project.task_presenter_editor', short_name=project.short_name, template='video')}}" class="btn btn-default">{{ _('Use the Video template') }}</a>
  <a href="https://github.com/PyBossa/project-vimeo/archive/master.zip" class="btn btn-default">{{ _('Download the template and work locally') }}</a></p>
</div>
