{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = "all" %}
{% import "projects/_helpers.html" as helper %}

{% block content %}

{% if project %}
    {{ helper.render_project_local_nav(project, 'info', current_user) }}
    {{ helper.render_project_banner(project, overall_progress, false) }}

    <div class="container container-main">
        {% if blogposts %}
            {% for blogpost in blogposts %}
                <p><a href="{{url_for('project.show_blogpost', short_name=project.short_name, id=blogpost.id)}}">{{ blogpost.title }}</a></p>
            {% endfor %}
        {% else %}
            <div class="alert alert-warning" role="alert">
                <strong>Ooops</strong> {{ _('Sorry! No posts so far.') }}
            </div>
        {% endif %}
    </div>
    {% else %}
    <div class="container">
        <h1>{{ _('Sorry! This project does not exist.') }}</h1>
    </div>
{% endif %}
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
