{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = "all" %}
{% import "projects/_helpers.html" as helper %}

{% block content %}

    {{ helper.render_project_local_nav(project, 'info', current_user) }}
    {{ helper.render_project_banner(project, overall_progress, false) }}


    {% if blogpost %}
    <div class="container">
        <article>
            <header>
                <h2>{{ blogpost.title }}</h2>
                <p>
                    {{ _('Author: ') }} {{ blogpost.owner.name }}</br>
                    {{ _('Written: ') }} {{ blogpost.created[0:10] }}
                </p>
            </header>
            <hr>
            <body>
                {{ blogpost.body | e | markdown }}
            </body>
        </article>
        {% if current_user.is_authenticated() and current_user.id == project.owner_id or current_user.admin %}
        <form class="form-horizontal" method="post" action="{{ url_for('project.delete_blogpost', short_name=project.short_name, id=blogpost.id) }}" onsubmit="return confirm('Do you really want to delete the blog post?');">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="form-actions">
                <input type="submit" value={{_('Delete')}} class="btn btn-danger" />
                <a href="{{url_for('project.update_blogpost', short_name=project.short_name, id=blogpost.id)}}" class="btn btn-default">{{_('Edit')}}</a>
            </div>
        </form>
        {% endif %}
        <a href="{{url_for('project.show_blogposts', short_name=project.short_name)}}" class="btn btn-default">{{_('Back')}}</a>
    </div>
    {% else %}
    <div class="container">
        <div class="alert alert-warning" role="alert">
            <strong>Ooops</strong> {{ _('Sorry! This blogpost does not exist.') }}
        </div>
        <a href="{{url_for('project.show_blogposts', short_name=project.short_name)}}" class="btn btn-primary">{{_('Back')}}</a>
    </div>
    {% endif %}
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
