{% extends "/base.html" %}
{% set active_page = "projects" %}
{% import "projects/_helpers.html" as helper %}

{% block content %}

{{ helper.render_project_local_nav(project, 'settings', current_user) }}
<div class="container">
{% if project %}
  <h1><strong>{{project.name}}</strong>: {{ _('Delete project') }}</h1>
  <div class="alert alert-danger">
    <strong>{{ _('Danger Zone!') }}</strong> {{ _('If you delete the project and its tasks, it will be gone forever!') }}
  </div>
  {{ helper.render_project_summary(project, n_tasks, overall_progress, last_activity, current_user) }}
  <form class="form-horizontal" method="post" action="{{ url_for('project.delete', short_name = project.short_name) }}">
    <fieldset>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <h3><strong>{{ _('Are you sure you want to delete this project and all its tasks and associated task runs?') }}</strong></h3>
      <div class="form-actions">
        <input type="submit" class="btn btn-danger" value="Yes, delete it"/>
        <a href="{{ url_for('project.settings', short_name = project.short_name) }}" class="btn btn-lg btn-primary">{{ _('No, do not delete it!') }}</a>
      </div>
    </fieldset>
  </form>
{% else %}
  <div class="container">
    <h1>{{ _('Sorry! This project does not exist.') }}</h1>
  </div>
{% endif %}
</div>
{{ helper.broken_image() }}
{% endblock %}
