{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = "all" %}
{% import "projects/_helpers.html" as helper %}

{% block content %}

{{ helper.render_project_local_nav(project, 'blog', current_user) }}
<div class="container">
{% from "_formhelpers.html" import render_field %}
<div id="project-form"> 
    {{ helper.render_project_title(project) }}
    <h2>{{ _('Write a new blog post for ad') }} {{ project.name }}</h2>
    <form class="form-horizontal" method="post" action="{{ url_for('project.new_blogpost', short_name=project.short_name) }}">
        {{ form.hidden_tag() }}
        <fieldset>
            {{ render_field(form.title, class_="col-md-9", placeholder= _('The title of your post')) }}
            {{ render_field(form.body, class_="col-md-9", placeholder= _('Write your post here. You can use Markdown!')) }}
            <div class="form-actions">
                <input type="submit" value={{_('Create')}} class="btn btn-primary" />
                <a href="{{url_for('project.settings', short_name=project.short_name)}}" class="btn btn-default">{{_('Cancel')}}</a>
            </div>
        </fieldset>
    </form>
</div>
</div>
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
