{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = "all" %}
{% import "projects/_helpers.html" as helper %}

{% block content %}

{{helper.render_project_local_nav(project, 'stats', current_user)}}
<div class="container">
    {{helper.render_project_title(project, upload_method, subtitle='Statistics') }}

    <div class="alert alert-warning" role="alert">
		<strong>Ooops</strong> Sorry, the project does not have tasks to process and show some statistics.
	</div>
</div>
{{ helper.broken_image() }}

{% endblock %}
