{% extends "/base.html" %}
{% set active_page = "projects"  %}
{% set active_project = project.short_name %}

{% block content %}<div class="container">
<script>
    Modernizr.load({
            test: window.JSON,
            nope: '{{url_for('static', filename='js/vendor/json2.min.js')}}'
            });
</script>
<script src="{{url_for('static', filename="js/pybossa/pybossa.js")}}" type="text/javascript"></script>
<div class="row">
    <div class="col-md-12">
    </div>
</div>

{{ project.info.task_presenter|safe }}

<div id='PYBOSSA_USER_LOCALE' hidden>
{% if current_user.is_anonymous() %}
en
{% else %}
{{ current_user.locale }}
{% endif %}
</div>

</div>{% endblock %}
