{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = "all" %}
{% import "projects/_helpers.html" as helper %}

{% block content %}

{% if project %}
    {{ helper.render_project_local_nav(project, 'info', current_user) }}
    {{ helper.render_project_banner(project, overall_progress, true) }}
    <div class="container">
        {% if project.long_description %}
        <div class="app-description">
            <div class="container">
                <p>{{ project.long_description | e | markdown }}</p>
            </div>
        </div>
        {% endif %}
    </div>
{% else %}
    <div class="container">
        <h1>{{ _('Sorry! This project does not exist.') }}</h1>
    </div>
{% endif %}
<script>
    var url = "{{ckan_url}}/api/3/action/package_show";
    $.get(url, {id: '{{ckan_pkg_name}}'}, function(data){
            if (data['success'] == true) {
                $("#ckan").show();
                if (data['result']['license_title'] != null) {
                    $("#ckan_license").show();
                }
            }
            });
</script>
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
