{% extends "/base.html" %}
{% set active_page = "projects" %}
{% import "projects/_helpers.html" as helper %}

{% block content %}

{% from "_formhelpers.html" import render_field %}
{{ helper.render_project_local_nav(project, 'settings', current_user) }}

<script src="{{url_for('static', filename='js/vendor/jquery.Jcrop.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.Jcrop.min.css')}}" type="text/css" />
<div class="container">
  {{helper.render_project_title(project, upload_method, subtitle=_('Update the project')) }}
      <!-- Update form for project thumbnail -->
      <form method="post" class="form-horizontal" action="{{ url_for('project.update', short_name=project.short_name) }}" enctype="multipart/form-data">
          <fieldset>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <p class="text-center">
                {{ helper.render_project_thumbnail(project, upload_method, id="uploadPreview") }}
              </p>
              {{ render_field(upload_form.avatar, onchange="previewImage()") }}
              {{ upload_form.x1 }}
              {{ upload_form.y1 }}
              {{ upload_form.x2 }}
              {{ upload_form.y2 }}
          <div class="form-actions">
            <button type="submit" name='btn' value="Upload" class="btn btn-primary btn-lg">{{ _('Upload') }}</button>
          </div>
          </fieldset>
      </form>

      <!-- Update form for project data-->
    <form class="form-horizontal" method="post" action="{{ url_for('project.update', short_name = project.short_name) }}">
      <fieldset>
        {{ render_field(form.name, class_="input-xlarge", placeholder=_('The name of the project')) }}
        {{ render_field(form.short_name, class_="input-xlarge", placeholder=_('Short name or slug for the project'), label_text=_('Project slug:')) }}
        {{ render_field(form.description, class_="input-xlarge", placeholder=_('Give some details about the project')) }}
        {{ render_field(form.long_description, class_="input-xlarge", placeholder=_('Explain the project (use Markdown!)')) }}
        {{ render_field(form.category_id) }}
        {{ render_field(form.allow_anonymous_contributors) }}
        {{ render_field(form.password) }}
        {{ render_field(form.webhook) }}
        <div class="form-actions">
          <button type="submit" name='btn' value="Save the changes" class="btn btn-primary">{{_('Save te changes')}}</button>
          <a href="{{url_for('project.settings', short_name=project.short_name)}}" class="btn btn-default">{{_('Cancel')}}</a>
        </div>
      </fieldset>
    </form>
<script>
    $("i[rel='tooltip']").tooltip();
</script>
<script src="{{url_for('static', filename='js/image_crop.js')}}" type="text/javascript"></script>
{{ helper.broken_image() }}
</div>{% endblock %}
