.video-instructions {
  display: block;
  width: 69.4%;

  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px #888;
  box-shadow: 0 0 5px 5px #888;
}

.video-wizard {
  max-width: 100%;
  margin-bottom: 20px;
  background-color: inherit !important;
}

.video-vlibras {
  max-width: 50%;
  margin: auto;
}

.video-js { padding-top: 52% }
.vjs-fullscreen { padding-top: 0px }

#vlibras-wizard {
  .video-js { padding-top: 0px !important; }
}
