<div class="selection-panel-body" mainConfig="{{ hand }}"
	subConfig="movimento" step="1">
	<div class="panel-header">
		<h8>Escolha o movimento mais parecido</h8>
	</div>
	<div class="selection-panel-inner-body">
		<ul class="rig columns-2">
			<li><video 
					preload="metadata" value="pontual"
					class="video-panel-option selection-panel-option" autoplay loop>
					<source src="{{ server }}/img/mov/PONTUAL.webm" type="video/webm">
					<source src="{{ server }}/img/mov/PONTUAL.mp4" type="video/mp4">
				</video> Pontual</li>
			<li><video
					preload="metadata" value="retilineo"
					class="video-panel-option selection-panel-option" autoplay loop>
					<source src="{{ server }}/img/mov/RETILINEO.webm" type="video/webm">
					<source src="{{ server }}/img/mov/RETILINEO.mp4" type="video/mp4">
				</video> Retilíneo</li>
			<li><video
					preload="metadata" value="circular"
					class="video-panel-option selection-panel-option" autoplay loop>
					<source src="{{ server }}/img/mov/CIRCULAR.webm" type="video/webm">
					<source src="{{ server }}/img/mov/CIRCULAR.mp4" type="video/mp4">					
				</video> Circular</li>
			<li><video
					preload="metadata" value="semicircular"
					class="video-panel-option selection-panel-option" autoplay loop>
					<source src="{{ server }}/img/mov/SEMICIRCULAR.webm" type="video/webm">
					<source src="{{ server }}/img/mov/SEMICIRCULAR.mp4" type="video/mp4">
				</video> Semi-Circular</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	movement.setup("{{ server }}", "{{ hand }}");
</script>
